<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Главная"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="layouts/header :: header"></header>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="el : ${posts}">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                        <a th:href="'/post/' + ${el.id}" th:text="${el.title}"></a>
                        <p class="card-text" th:text="${el.anons}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a th:href="'/post/' + ${el.id}" type="button" class="btn btn-sm btn-outline-secondary">Читать</a>
                                <a th:href="'/post/' + ${el.id} + '/edit'" type="button" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                            </div>
                            <small class="text-muted" th:text="${el.views} + ' просмотров'"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:insert="layouts/footer :: footer"></div>

</body>
</html>