<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Регистрация </title>
</head>
<body>
<header th:insert="layouts/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Регистрация</h1>
    <form method="post" class="mb-4 mt-5">
        <input type="text" name="name" placeholder="Имя" class="form-control mb-4">
        <input type="email" name="email" placeholder="Email" class="form-control mb-4">
        <input type="password" placeholder="Пароль" name="password">
        <input type="hidden" th:value="${_csrf.token}">
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>
</div>

<div th:insert="layouts/footer :: footer"></div>
</body>
</html>