<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html class="antholz">
<head>
    <title>Biathlon analyzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/mystyle.css?123}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/backgrounds.css}" rel="stylesheet" />
</head>
<body>
<div class="header-border">
    <h1 align="center">Welcome to biathlon analyzer</h1>
</div>
<div class="header-border">
    <h2 align="center">Please select an option</h2>
</div>
<p><a class="buttons" href="/races">List of races</a></p>
<p><a class="buttons" href="/sportsmen">List of athletes</a></p>
<p><a class="buttons" href="/results">Results</a></p>
<p><a class="buttons" href="/analyzer">Analyzer</a></p>
</body>
</html>